
.seats {
  border: 2px solid red;
  padding: 10px;
}

.checkbox {
  width: 13px;
  cursor: pointer;
  appearance: none;
}
.checkbox:before {
  content: "";
  width: 30px;
  height: 30px;
  margin: -10px 0px 0px 0px;
    
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #ff9800;
  background-color: transparent;
}
.checkbox:checked:before {
  background-color: Green;
  font-size: 15px;
}

  .td {
    width: 30px;
    margin: 5px;
    height: 30px;
    color: #333;
}


.checkbox-gray {
  width: 13px;
  cursor: pointer;
  appearance: none;
}
.checkbox-gray:before {
  content: "";
  width: 30px;
  height: 30px;
  margin: -10px 0px 0px 0px;
    
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #ff9800;
  background-color: transparent;
}
.checkbox-gray:checked:before {
  background-color: #d1d5db;
  font-size: 15px;
}

.box-gray{
  background: #d1d5db;
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  margin-right: 5px;
}

.box-green{
  background: green;
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  margin-right: 5px;
}

.box-white{
  background: white;
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  margin-right: 5px;
}

.checkbox-vip {
  width: 13px;
  cursor: pointer;
  appearance: none;
}
.checkbox-vip:checked:before {
  background-color: green;
  font-size: 15px;
}

.checkbox-vip:before {
  content: "";
  width: 30px;
  height: 30px;
  margin: -10px 0px 0px 0px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid black;
  background-color: transparent;
}